.color-0{ color: #ffffff; } .color-1{ color: #ff4444; } .color-2{ color: #99cc00; } .color-3{ color: #ffbb33; } .color-4{ color: #0099cc; } .color-5{ color: #33b5e5; } .color-6{ color: #aa66cc; } .color-8{ color: #cc0000; } .color-9{ color: #cc0068; }
html{ overflow: hidden }* { margin: 0; padding: 0; } .no-grow { flex-grow: 0; } em { font-style: normal; } #app { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; color: white; } textarea:focus, input:focus { outline: none; } .help { color: #b0bbbd; } .disabled { color: #b0bbbd; } .suggestion { margin-bottom: 0.5%; } .hidden { display: none; }
.chat-window {
    position: absolute;
    top: 1.5%;
    left: 0.8%;
    width: 38%;
    height: 22%;
    max-width: 1000px;
    -webkit-animation-duration: 2s;
}
.chat-messages {
    font-family: 'Poppins';
    font-weight: 500;
    position: relative;
    height: 95%;
    font-size: 1.3vh;
    margin: 1%;
    text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000, -1px -1px 0 #000;
    overflow-x: hidden;
    overflow-y: hidden;
}
.chat-input {
    font-family:'Quicksand',sans-serif;
    font-size: 1.65vh;
    position: absolute;
    top: 23.8%;
    left: 0.8%;
    width: 25%;
    max-width: 1000px;
    box-sizing: border-box;
    animation: abrirChat forwards 0.5s !important;
}
.prefix {
    font-size: 1.8vh;
    color: black;
    position: absolute;
    margin-top: 0.5%;
    left: 1%;
}
textarea {
    font-family:'Poppins';
    font-size: 0.8em;
    box-sizing: border-box;
    padding: 1%;
    padding-left: 1.5rem;
    width: 100%;
    border-width: 0;
    height: 3.15%;
    overflow: hidden;
    text-overflow: ellipsis;
    resize: none;
    opacity:100;
    border-radius:.2rem;
    background-color:rgba(255,255,255,0.87);
    color:#000;
    box-shadow: 0 0 5px #000;
    animation:selectedMenu 0.5s 
}
.msg {
    font-weight: 500;
    animation: SendChatMessage 1s;
    margin-bottom: 0.28%;
}
.multiline {
    margin-left: 4%;
    text-indent: -1.2rem;
    white-space: pre-line;
}
.suggestions {
    font-family:'Poppins';
    background-color:rgba(12,12,12,0.774);
    border-radius:.2rem;
    list-style-type: none;
    padding: 1.5%;
    padding-left: 1rem;
    font-size: 0.8rem;
    box-sizing: border-box;
    color: white;
    width: 100%;
    box-shadow: 0 0 5px #fff;
    animation: AppareanceSuggestions 1s;
}

/* 
    Keyframes Animations
*/

@keyframes abrirChat {
    0% { opacity:0; transform: perspective(500px) rotateY( -30deg); } 
    50%{ opacity: 0.5; } 
    100% { opacity:1; transform: rotateX(2deg) rotateY(10.4deg) ; }
}
@keyframes selectedMenu {
    0% { opacity:0; transform:scale(0) } 
    50% { opacity:0.2 } 
    100% { opacity:1; transform:scale(1) }
}
@keyframes SendChatMessage {
    from{ opacity: 0; transform: translateX(50%); } 
    to{ opacity: 1; transform: translateX(0); }
}
@keyframes AppareanceSuggestions {
    0%{ opacity: 0; transform: translateX(-20rem); } 
    50%{ opacity: 0.2; } 
    100%{ opacity: 1; transform: translateX(0); }
}